.btns, .title {
  display: none;
}

.card:hover .title {
  display: block;
}
.card:hover .btns, .card:active .btns {
  display: Flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.card:hover .bgImage {
  filter:blur(20px);
}